<!-- <mat-card class="example-card">
    <img mat-card-image src={{data.Poster}}  />
    <mat-card-header>
        <mat-card-title>{{artist.name}}</mat-card-title>
        <mat-card-subtitle>{{data.Title}}</mat-card-subtitle>
    </mat-card-header>
</mat-card> -->
<div [ngSwitch]="componentName" class="card-container">
    <mat-card class="example-card" *ngSwitchCase="'brief'">
        <mat-card-header>
            <mat-card-title>{{data.Title}}({{data.Year}})</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{data.Poster}}  />
        <mat-card-actions align="end">
            <!-- <span class="card-spacer"></span> -->
            <button mat-button [color]="isBasic ? 'basic' : 'warn' "  (click) = "addToFavoriteList()">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-button (click)="componentName = 'detial'">More info</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card" *ngSwitchCase="'detial'">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{data.Title}}({{data.Year}})</mat-card-title>
                <mat-card-subtitle>{{data.Ratings[0].Value}}</mat-card-subtitle>
                <mat-card-subtitle>Director:{{data.Director}}</mat-card-subtitle>
                <mat-card-subtitle>Actors:{{data.Actors}}</mat-card-subtitle>
                <img mat-card-xl-image src={{data.Poster}} >
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{data.Plot}}
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <!-- <span class="card-spacer"></span> -->
            <button mat-button  [color]="isBasic ? 'basic' : 'warn' "  (click) = "addToFavoriteList()">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-button (click)="componentName = 'brief'">Back</button>
        </mat-card-actions>
    </mat-card>

</div>

