.example-card {
    /* width: 1500px;
    height: 1000px; */
    /* width: 400px; */
    /* height: 550px; */
}
    
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

/* img {
    width: 500;
    height: 500;
} */

.card-container{
    width: 320px;
    /* width: 400px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px; */
}

.card-image {
  height: 450px; 
  object-fit: cover; 
}
.card-header{
  height: 65px;
}
.card-title{
  color:black;
}
mat-card {
  height: 560px; 
  width: 320px; 
  overflow: auto;
}

.card-spacer {
  flex: 1 1 auto;
}
.card-rating{
  /* color: red; */
}