.card-container{
    width: 320px;
}
.card-image {
  height: 450px; 
  object-fit: cover; 
}
.card-header{
  height: 65px;
}
.card-header-detial{
  height: 35px;
}
.card-title{
  color:black;
}
mat-card {
  height: 560px; 
  width: 320px; 
  overflow: auto;
}
.card-spacer {
  flex: 1 1 auto;
}
